// Primary Colors
$british-racing-green: rgb(7, 76, 49); // #074c31
$android-green: rgb(161, 192, 56); // #a1c038

// Text Colors
$raisin-black: rgb(38, 38, 38); // #262626
$davys-grey: rgb(89, 89, 89); // #595959
$gray-x11: rgb(191, 191, 191); // #bfbfbf
$white-smoke: rgb(245, 245, 245); // #f5f5f5
$snow: rgb(250, 250, 250); // #fafafa
$white: rgb(255, 255, 255); // #ffffff

// Palette Colors
$amazon: rgb(57, 112, 90); // #39705a
$xanadu: rgb(106, 148, 131); // #6a9483
$aero-blue: rgb(207, 236, 225); // #cfece1
$green-ryb: rgb(118, 168, 38); // #76a826
$june-bud: rgb(180, 205, 96); // #b4cd60
$pale-goldenrod: rgb(217, 230, 175); // #d9e6af

// Toast Colors
$toast-green: rgb(96, 168, 66); // #60a842
$sinopia: rgb(206, 49, 0); // #ce3100
$vivid-amber: rgb(206, 142, 0); // #ce8e00
$true-blue: rgb(0, 95, 206); // #005fce

// Others
$urobilin: rgb(223, 179, 37); // #dfb325
$antique-bronze: rgb(103, 88, 34); // #675822
$plum: rgb(161, 66, 150); // #a14296
$cyber-grape: rgb(87, 58, 116); // #573a74
$bg-white-smoke: rgb(246, 246, 246); // #f6f6f6

// Overlays
// color
$gray-asparagus: rgb(65, 95, 67); //#415f43
$dark-khaki: rgb(206, 178, 106); //#ceb26a
$black: rgb(0, 0, 0); //#010101
$azure: rgb(0, 123, 255); // #007bff;
$eerie-black: rgb(24, 24, 24);//#181818
$sonic-silver: rgb(116, 116, 116);//#747474
$silver-chalice: rgb(172, 172, 172);//#acacac
$ghost-white: rgb(249, 249, 249);//#f9f9f9
$spanish-gray: rgb(158, 158, 158);//#9e9e9e
$outer-space: rgb(70, 70, 70); //#464646
$usafa-blue: rgb(0, 68, 148); //#004494
$black-01: rgba(0, 0, 0, 0.1);

//border
$ku-crimson: rgb(235, 10, 10); //#eb0a0a
$gray-asparagus: rgb(65, 95, 67); //#415f43

$gray-x11-gray: rgb(185, 185, 185); //#b9b9b9
$battleship-grey: rgb(130, 130, 130); //#828282
