html,
body {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button {
    &:focus {
        outline: none;
    }
}

a {
    text-decoration: none;
}

[role='button'],
button {
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

